.p-button__action {
  align-items: center;
  background: #ffffff;
  border: 1px groove rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;

  i {
    background-color: #ee6045;
    border-radius: 5px 0 0 5px;
    color: #ffffff;
    padding: 1.5rem 1rem;
  }

  img {
    background-color: #ee6045;
    border-radius: 5px 0 0 5px;
    height: auto;
    padding: 0.75rem 0.5rem;
    position: relative;
    width: 2.5rem;
  }

  div {
    margin: 0 auto;
  }
}

.p-button__login-orange {
    background: #ee6045;
    border: 1px solid #ee6045;
    border-radius: 30px;
    color: #ffffff;
    font-weight: 600;
    padding: 0 1rem;
    text-align: center;
}

.p-button-gray {
  background: #f7f9fb;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 600;

  i {
    color: #ee6045;
  }
}

.p-button-orange {
    background: #ee6045;
    border: 1px solid #ee6045;
    color: #ffffff;
}

.p-button__reaction {
    align-items: center;
    color: #6F7378;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.p-button__reactioned {
    align-items: center;
    color: #49B2C8;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.p-button__reaction__box button {
    background: #ffffff;
    border: none;
}


.p-button-readmore {
    background: none;
    border: hidden;
    color: #7f8c8d;
    padding: 0;
}

.p-button-rounded {
  background: #ee6045;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.5rem 1rem;

  &:hover {
    color: #ffffff;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
  }
}

.p-button-selectable input {
    display: none;
}

.p-button-selectable label {
    background: #f7f9fb;
    border: 1px solid #f7f9fb;
    display: block;
    padding: 0.5rem 1rem;
}

.p-button-selected + label {
    background: #ee6045;
    border: 1px solid #ee6045;
    color: #ffffff;
    display: block;
    padding: 0.5rem 1rem;
}

.p-button-unselected + label {
    background: #f7f9fb;
    border: 1px solid #f7f9fb;
    color: inherit;
    display: block;
    padding: 0.5rem 1rem;
}

.p-button-white {
    background: #ffffff;
    border: 1px solid rgba(0,0,0,0.2);
    font-weight: 600;
}


/* top emotion buttons */


.p-button__emotion {
  float: left;
  cursor: pointer;
}

.p-button__emotions {
  position: absolute;
  top: -40px;
  left: 0;
  display: none;
  padding: 1px;
  background: #ECF0F1;

  img {
    height: 27px;
    width: 27px;
    margin: 5px;
  }
}

.p-button__emotion-ballon {
  color: black;
  text-decoration: none;
  position: relative;

  &:hover .p-button__emotions {
    display: inline-flex;
  }
}

/* group chat rename */
.group-rename-button .p-group-rename {
  background: red;
  color: #ffffff;
  border: none;
  border-radius: 40px;
  height: 40px;
  width: 150px;
  margin-left: auto;
  margin-bottom: 50px;
}
.group-rename-button .p-group-rename-cancel {
  border-radius: 40px;
  height: 40px;
  width: 150px;
  margin-right: auto;
  margin-left: 10px;
  margin-bottom: 50px;
}
.p-button__see-all a button {
    border: none;
    background: white;
}
