.p-icon__arrow {
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    margin: auto 0 auto auto;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;


    &::before,
    &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        content: "";
        vertical-align: middle;
    }
}

.p-icon__arrow-down::before {
    left: 3px;
    width: 0.5rem;
    height: 0.5rem;
    border-top: 3px solid #999;
    border-right: 3px solid #999;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.p-icon__arrow-right::before {
    left: 3px;
    width: 0.5rem;
    height: 0.5rem;
    border-top: 3px solid #999;
    border-right: 3px solid #999;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.p-icon {
    border: 2px solid red;
    border-radius: 50%;
    background-position: center center;
    height: 48px;
    width: 48px;
    object-fit: cover;
    position: relative;

    img {
        border-radius: 50%;
        height: 42px;
        left: 1px;
        object-fit: cover;
        position: absolute;
        top: 1px;
        width: 42px;
    }
}

.p-icon-big {
    border: 2px solid red;
    border-radius: 50%;
    background-position: center center;
    height: 156px;
    width: 156px;
    object-fit: cover;
    position: relative;

    img {
        border-radius: 50%;
        height: 148px;
        left: 2px;
        object-fit: cover;
        position: absolute;
        top: 2px;
        width: 148px;
    }
}

.p-icon__comment img{
    border-radius: 50%;
    height: 2.441rem;
    margin-left: 1rem;
    object-fit: cover;
    width: 2.441rem;
}

.p-icon-subComment img {
    border-radius: 50%;
    height: 1.953rem;
    object-fit: cover;
    /*position: absolute;*/
    width: 1.953rem;
}


.p-icon-small {
    border-radius: 50%;
    background-position: center center;
    height: 24px;
    object-fit: cover;
    position: relative;
    width: 24px;

    img {
        border-radius: 50%;
        height: 24px;
        object-fit: cover;
        position: absolute;
        width: 24px;
    }
}

.p-icon-middle {
    border: 2px solid red;
    border-radius: 50%;
    background-position: center center;
    height: 31px;
    object-fit: cover;
    position: relative;
    width: 31px;

    img {
        border-radius: 50%;
        height: 25px;
        left: 1px;
        object-fit: cover;
        position: absolute;
        top: 1px;
        width: 25px;
    }
}

.p-icon__font {
    display: inline-block;
    line-height: 1rem;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 50%;

    img {
        height: 1rem;
        vertical-align: top;
        width: 1rem;
    }
}

.p-icon__emotion {
    width: 20px;
    height: 20px;
    margin: 1px;
    object-fit: cover;
}

/* group chat image edit */
.p-group__icon {
    border: 2px solid red;
    border-radius: 50%;
    background-position: center center;
    height: 200px;
    width:  200px;
    object-fit: cover;
    position: relative;
    margin: 20px auto;

    .p-group__icon-main {
      height: 99%;
      width:  99%;
      border-radius: 50%;
      left: 1px;
      object-fit: cover;
      position: absolute;
      top: 1px;
  }
}

.input-group-btn .p-group__icon {
  margin-left: 20%;
}

#p-edit-group .p-group__photo {
  height: 30px;
  width: 30px;
  margin: 80% 15% 20% 85%;
  position: relative;
  z-index: 1;
}
