.u-align__flex-start {
    align-self: flex-start;
}

.u-align__items-start {
    align-items: start;
}

.u-align__text-middle {
    vertical-align: middle;
}

.u-align__text-center {
    text-align: center !important;
}