.u-border-rounded-corner {
    border: 1px solid rgba(0,0,0,0.2) !important;
    border-radius: 5px !important;
}

.u-border-bottom {
    border-bottom: 1px groove rgba(0,0,0,0.2) !important;
    margin: 0 auto !important;
}

.u-border-horizontal {
    border-bottom: 1px groove rgba(0,0,0,0.2);
    border-collapse: collapse;
}

.u-border-vertical {
    border-right: 1px groove rgba(0,0,0,0.2);
    border-collapse: collapse;
}

/* For Smart phone */
@media screen and (max-width: 544px) {
    .u-border-xs-vertical {
        border-right: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
    .u-border-sm-vertical {
        border-right: none;
    }
    .u-border-md-vertical {
        border-right: none;
    }
    .u-border-lg-vertical {
        border-right: none;
    }
    .u-border-xs-horizontal {
        border-bottom: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
    .u-border-sm-horizontal {
        border-bottom: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
    .u-border-md-horizontal {
        border-bottom: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
    .u-border-lg-horizontal {
        border-bottom: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
}

/* For Smart phone */
@media screen and (min-width: 545px) {
    .u-border-xs-vertical {
        border-right: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
    .u-border-sm-vertical {
        border-right: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
    .u-border-md-vertical {
        border-right: none;
    }
    .u-border-lg-vertical {
        border-right: none;
    }
    .u-border-xs-horizontal {
        border-bottom: none;
    }
    .u-border-sm-horizontal {
        border-bottom: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
    .u-border-md-horizontal {
        border-bottom: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
    .u-border-lg-horizontal {
        border-bottom: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
}

/* For Tablet (iPad etc...) and Landscape screen of Smart Phone */
@media screen and (min-width: 768px) {
    .u-border-xs-vertical {
        border-right: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
    .u-border-sm-vertical {
        border-right: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
    .u-border-md-vertical {
        border-right: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
    .u-border-lg-vertical {
        border-right: none;
    }
    .u-border-xs-horizontal {
        border-bottom: none;
    }
    .u-border-sm-horizontal {
        border-bottom: none;
    }
    .u-border-md-horizontal {
        border-bottom: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
    .u-border-lg-horizontal {
        border-bottom: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
}

/* For Large Tablet (iPad Pro etc...) */
@media screen and (min-width : 992px) {
    .u-border-xs-vertical {
        border-right: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
    .u-border-sm-vertical {
        border-right: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
    .u-border-md-vertical {
        border-right: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
    .u-border-lg-vertical {
        border-right: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
    .u-border-xs-horizontal {
        border-bottom: none;
    }
    .u-border-sm-horizontal {
        border-bottom: none;
    }
    .u-border-md-horizontal {
        border-bottom: none;
    }
    .u-border-lg-horizontal {
        border-bottom: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
}

/* For Desktop */
@media screen and (min-width : 1200px) {
    .u-border-xs-vertical {
        border-right: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
    .u-border-sm-vertical {
        border-right: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
    .u-border-md-vertical {
        border-right: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
    .u-border-lg-vertical {
        border-right: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
    .u-border-xs-horizontal {
        border-bottom: none;
    }
    .u-border-sm-horizontal {
        border-bottom: none;
    }
    .u-border-md-horizontal {
        border-bottom: none;
    }
    .u-border-lg-horizontal {
        border-bottom: 1px groove rgba(0,0,0,0.2);
        border-collapse: collapse;
    }
}