.c-badge-gray {
    background: lightgray;
    border-radius: 3px;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.c-badge-orange {
    background: #ee6045;
    border-radius: 3px;
    color: #ffffff;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.c-badge__circle-orange {
    background: #ee6045;
    border-radius: 50px;
    margin: 0;
    padding: 0;
    height: .5rem;
    width: .5rem;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
}

.c-badge__circle-blue {
    background: #2980b9;
    border-radius: 50px;
    margin: 0;
    padding: 0;
    height: .5rem;
    width: .5rem;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
}

.c-badge__circle-none {
    background: inherit;
    border-radius: 50px;
    margin: 0;
    padding: 0;
    height: .5rem;
    width: .5rem;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-o-border-radius: 50px;
	-ms-border-radius: 50px;
}