.c-media__photo-full {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c-media__video {
    height: auto;
    width: 100%;
}

.c-media__video-vertical {
  max-width: 100%;
  width: calc(80vh * 16 / 9);
  max-height: 80vh;
  margin: 0 auto;
}

.c-media__video-horizontal {
    position: relative;
    padding-top: calc(9 / 16 * 100%); /*56.25%でもOK。わかりやすいように式で出してます。*/

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}